---
title: "Meet the team"
layout: "default"
TopMenuCategory: "Team"
scripts: ['']
priority: 1.0
description: "The team that works at The Varicose Veins Clinic"
---

mixin team-profile(name, image, position, qualifications, social)
  .col-lg-4.col-sm-6.col-xs-12
    .doctor-meta
      .doctor-img
        img.img-responsive.center-block(src='/img/team/#{image}', alt='#{name}')
      .doctor-info
        .row
          .doctor-name.text-center
            = name
        .row
          .position.text-center
            = position
        .row
          .position.text-center
            = qualifications
        .row
          .doctor-des.text-center
            if block
              block
            else
              p No profile provided
        .row
          .doctor-social.text-center
            ul.contact
              each item in social
                - var social_title =""
                case item.icon
                  when 'fa-linkedin'
                    - social_title="LinkedIn profile for " + name
                  when 'fa-twitter'
                    - social_title="Twitter connect " + name
                li.online-contact
                  a(href=item.url, data-toggle='tooltip', title=social_title)
                    i(class=item.icon).fa

block content
  section#team-heading-section
    .team-wrapper
      .container
        .row
          .col-md-6.col.col-md-offset-6
            h1.team-title The Varicose Veins Clinic Team
        .row
          .col-md-6.col.col-md-offset-6
            h2.team-headings.wow.animated.fadeInLeft Friendly
          .col-md-6.col.col-md-offset-6
            h2.team-headings.wow.animated.fadeInLeft(data-wow-delay='2s') Approachable
          .col-md-6.col.col-md-offset-6
            h2.team-headings.wow.animated.fadeInLeft(data-wow-delay='3s') Professional

  .doctor-portfolio
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h2.headline.text-center
            | Meet our team
          p.sub-headline.text-center
            | Staffed by NHS consultant surgeons, consultant radiologist, nurse practitioners and theatre sisters
          hr
  section.doctor-list
    .container
      .row

        +team-profile("Mr David Gerrard", "David_Gerrard.png", "Vascular Surgeon", "M.B. B.S FRCS (Gen Surg)",
          [{icon: 'fa-linkedin', url: 'https://uk.linkedin.com/pub/david-gerrard/30/11b/210'}])
          p
            | He has a wealth of experience having qualified in 1989 at Kings College London. He undertook an endovascular fellowship at
            | Guys and St Thomas in London before moving to Frimley Park Hospital in 2001.
          p
            | He is a keen long distance cyclist but this does not leave him short of energy as he pursues his career in a friendly,
            | reputable environment. He finds the opportunity to pioneer new varicose vein and arterial techniques stimulating.

        +team-profile("Mr Neville Dastur", "Neville_Dastur.png", "Vascular Surgeon", "MBBS MD FRCS (Gen Surg & Vascular)",
          [{icon: 'fa-linkedin', url: 'http://uk.linkedin.com/in/nevilledastur'},
           {icon: 'fa-twitter', url: 'https://twitter.com/nevilledastur'}])
          p
            | Qualified at Guys and St Thomas' Hospital in 1997 and undertook his endovascular fellowship back at St Thomas' and then
            | the Royal Sussex County Hospital, Brighton. He is a consultant at Frimley Park Hospital with a specialist
            | interest in endovascular techniques and interventional radiology
          p
            | He is a keen swimmer and squash player as well as having IT skills which he uses to help improve patient care. But he
            | most enjoys playing with and raising his two lovely children

        +team-profile("Dr Andrew Hatrick", "Andrew_Hatrick.png", "Consultant Radiologist", "M.B. Bchir MRCP FRCR",
          [{icon: 'fa-linkedin', url: 'https://uk.linkedin.com/pub/andrew-hatrick/71/953/126'}])
          p
            | Qualified in 1991 from Cambridge University and joined Frimley Park Hospital in 2001 as an Interventional Radiologist.
            | He was motivated to join Frimley because of the personable people, excellent relationships with colleagues and the
            | opportunity to be involved in demanding and challenging diagnostic and interventional procedures.
          p
            | He wears the MacLeod tartan, and when you meet him why not ask him what the connection is.

        +team-profile("Dr Jermey Taylor", "Jeremy_Taylor.png", "Consultant Radiologist", "",
          [{icon: 'fa-linkedin', url: 'https://www.linkedin.com/pub/jeremy-taylor/82/a87/126'}])
          p
            | Appointed to Frimley Park Regional Centre for Interventional Radiology in 2010. He has extensive expertise in Vascular
            | and Non Vascular Intervention having performed over 200 EVAR and TEVAR vascular procedures.
            | He is an innovator and has established a number of new services at Frimley Park Hospital. He has written peer
            | reviewed articles an book chapters in Internationally recognised publications.
          p
            | He is a member of the West Surrey Tennis Club and plays regularly throughout the year. He also enjoys squash and golf on
            | the rare occasion I have time to play 18 holes. Most my spare time is spent looking after two wonderful children.

        +team-profile("Daisy Ferando", "Daisy_Ferando.png", "Specialist Theatre Sister", "", [])
          p
            | Originally from Sri Lanka. Qualified from Francis Harrison college of health care.
          p 
            | Vascular lead for main theatres in Frimley Park hospital. Have worked with the Vascular surgeons
            | for the last 20 years. Qualified Surgical Care Practitioner able to carry out minor procedures.
          P
            | Enjoys cooking, reading and music.
                    
        //- +team-profile("Claire Martin", "Claire_Martin.png", "Specialist Vascular Nurse", "", [])
        //-   p
        //-     | Qualified from Frances Harrison college of health care and has background in surgical nursing.
        //-     | Obtained bSc. Hons in vascular nursing in 2004 works as lead vascular clinical specialist nurse at
        //-     | Frimley Health NHS Trust and is an independent nurse prescriber has been performing sclerotherapy for
        //-     | over 15 years and professional interest in non invasive aesthetic treatments.
        //-   p
        //-     | Interests include reading, and keeping fit at military boot camps 2 children and a dog called Cadbury also keep her busy


        //- +team-profile("Andrea Croucher", "Andrea_Croucher.png", "Specialist Vascular Nurse", "", [])
        //-   p
        //-     | Qualified from Mid Essex Hospital Services NHS Trust 1993, has worked as a
        //-     | Vascular CNS since 2008. Has worked with patients with venous disease both
        //-     | privately and on the NHS since 1997 and has a wealth of experience.
        //-   p
        //-     | Interests include reading, dabbling in genealogy, her dog called Cameron
        //-     | and in her spare time helps mechanic for her husband grass track races.


  //- script.
  //-   new WOW().init();
